@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body,
#__next {
  min-height: 100vh;
}

#__next {
  display: flex;
  flex-direction: column;
}

[data-rk] {
  flex-grow: 1;
  display: grid;
}